.itemBlock {
    padding: 3px;
    border: 1px solid #dcdcdc;

    input {
        cursor: pointer
    }
    span {
        
    }
}

.isDone {
    opacity: 0.5;
    span {
        text-decoration: line-through;
    }
}